@model IEnumerable<Product>

@{
    ViewBag.Title = "Product List";
}


<div class="col-12 d-flex justify-content-end  ">
    <a asp-controller="Product" asp-action="Ubsert" class="btn btn-primary shadow-sm">
        <i class="bi bi-patch-plus"></i> Create New Product
    </a>
</div>
<div class="card shadow border-0 mt-2 mb-5">
    <div class="row  pb-0">
    </div>
    <div class="card-header bg-secondary text-light text-center">
        <h2 class="m-0">Products</h2>
    </div>
    <div class="card-body">

        <table id="myTable" class="table table-hover table-striped table-lg  table-borderless text-center align-middle  " width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Type</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/Product.js"></script>
}
   